%h1= @team_member.new_record? ? 'New Team Member' : 'Edit Team Member'

- form_for [:admin,@team_member], :html => { :multipart => true } do |f|
  .form-area
    %p.title
      %label First Name
      = f.text_field :first_name, :class => 'textbox'
    %p.title
      %label Last Name
      = f.text_field :last_name, :class => 'textbox'
    %p.title
      %label Birthday
      = f.date_select :birthday, :start_year => 1975
    %p.title
      %label Number
      = f.text_field :number, :class => 'textbox'
    %p.title
      %label Position ( 0 = Goalie, 1 = Attack, 2 = Middie, 3 = Defense )
      = f.text_field :position_id, :class => 'textbox'
    %p.title
      %label Plays LAX since
      = f.date_select :plays_since, :start_year => 2000
    %p.title
      %label Matches Played
      = f.text_field :matches_played, :class => 'textbox'
    %p.title
      %label Goals
      = f.text_field :goals, :class => 'textbox'
    %p.title
      %label MVP elections
      = f.text_field :mvp, :class => 'textbox'
    %p.title 
      %label Picture ( leave empty to keep current picture )
      %img{ :src => "/images/playerz/" + @team_member.picture_file, :width => "100" }
      = f.file_field :picture_file, :class => 'textbox'
    %p.title
      %label ForumName
      = f.text_field :forum_nick, :class => 'textbox'
    %p.title
      %label Phone
      = f.text_field :phone, :class => 'textbox'
    %p.title
      %label E-Mail
      = f.text_field :email, :class => 'textbox'
    %p.title
      %label ICQ
      = f.text_field :icq, :class => 'textbox'
    %p.title
      %label Skype
      = f.text_field :skype, :class => 'textbox'
    %p.title
      %label Notes
      = f.text_area :notes, :class => 'textbox'
    %p.title
      %label Active?
      = f.check_box :is_active

  %p.buttons
    - button_text = @team_member.new_record? ? 'Create' : 'Save changes'
    = submit_tag button_text, :class => 'button'
    or
    = link_to 'Cancel', admin_team_members_url

