- content_for 'page_css' do 
  :sass
    p.new
      a
        color: #000
        border: 1px solid #ddf
        padding: 6px
        text-decoration: none

%h1 Team Members        

%table#team_members.index{:summary => "Listing Team Members"}
  %thead
    %tr
      %th.name 
        - if params[ :order ] == "name_desc"
          = link_to 'Name', '?order=name_asc'
        - elsif params[ :order ] == "name_asc"
          = link_to 'Name', '?order=name_desc'
        - else
          = link_to 'Name', '?order=name_asc'
      %th.name 
        - if params[ :order ] == "number_desc"
          = link_to 'Number', '?order=number_asc'
        - elsif params[ :order ] == "number_asc"
          = link_to 'Number', '?order=number_desc'
        - else
          = link_to 'Number', '?order=number_asc'
      %th.modify Modify
    %tbody
      - if @team_memberz.empty? 
        %tr
          %td.note{:colspan => 2} No Team Members
      - else
        - @team_memberz.each do |tm|
          %tr.node.level-1{:id => "team_member-#{tm.id}"}
            %td.page
              %spawn.w1
                = link_to "#{tm.first_name} #{tm.last_name}", edit_admin_team_member_url( tm )

            %td.number= tm.number
            %td.remove
              = link_to( "#{image('minus.png')} Remove", admin_team_member_url( tm ), :method => :delete, :alt => 'remove team member', :confirm => 'Are you sure? This will delete the team member!')
 
%p.new= link_to( 'New Team Member', new_admin_team_member_url )        
